body {
  display: grid;
  grid-gap: 3em;
  grid-template-rows: auto, auto, 1fr, auto;
  min-height: 100vh;
}
header {
  background-color: #709e5c;
  min-height: 4em;
  background-image: url("../images/SquareEyes_Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.frontPageImage {
  width: 100%;
}

footer {
  background-color: #6c899e;
  min-height: 4em;
}

nav li {
  display: inline-block;
}

nav a,
footer p,
footer li {
  color: #f2f2f2;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
  margin: 15px;
}

nav a:hover {
  color: black;
}

.topnav-right {
  margin: 2em;
  float: right;
  font-weight: bold;
  font-size: large;
}
.footerNav {
  float: right;
  text-decoration: none;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
