body {
  display: grid;
  grid-gap: 3em;
  grid-template-rows: auto, auto, 1fr, auto;
  min-height: 100vh;
}
header {
  background-color: #709e5c;
  min-height: 4em;
  background-image: url("../images/SquareEyes_Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

main a,
p,
nav a,
footer p,
footer li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.frontPageImage {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #6c899e;
  min-height: 4em;
}

nav li,
main li {
  display: inline-block;
}

nav a,
main a,
footer p,
footer li,
footer a {
  color: #f2f2f2;
  text-decoration: none;
  list-style-type: none;
}

main a {
  background-color: #709e5c;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
main p {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 15px;
}

footer a {
  display: block;
  border-style: solid;
  border-color: #f2f2f2;
  border-width: 2px;
  padding: 10px 20px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 15px;
}

main a:hover,
nav a:hover,
footer a:hover {
  color: black;
}

.topnav-right {
  margin: 2em;
  float: right;
  font-weight: bold;
  font-size: large;
}
main li,
.footerNav,
footer p {
  float: right;
  text-decoration: none;
}
